.button {
  max-width: $max-width;
  &.button-full {
    width: 100%;
  }
}

.iconButtonWrapper {
  display: flex;
  p {
    display: flex;
    justify-content: center;
    width: 44px;
    line-height: 20px;
  }
}
.container {
  width: 100%;
  height: 100%;
  border: 1px solid $gray-scale-700;
  display: flex;
  align-items: center;
  justify-content: start;
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.tertiary {
  background-color: $tertiary-color;
}

.disabled {
  border: none;
  background-color: #eee;
  color: #fff;
}

//BTN_24_S
.xs {
  width: rem(47px);
  height: rem(24px);
  padding: rem(6px) rem(12px);

  &.capsule {
    border-radius: rem(15px);
  }
}

//BTN_26_S
.s {
  width: rem(82px);
  height: rem(26px);
  padding: 0 rem(6px);

  &.capsule {
    border-radius: rem(15px);
  }
}

//BTN_36_S
.m {
  width: rem(62px);
  height: rem(36px);
  padding: rem(4px) rem(8px);

  &.capsule {
    border-radius: rem(20px);
  }
}

//BTN_36_M
.l {
  width: rem(137.5px);
  height: rem(36px);
  padding: rem(4px) rem(14px);

  &.capsule {
    border-radius: rem(20px);
  }
}

.xl {
  width: rem(137.5px);
  height: rem(48px);
  padding: rem(4px) rem(14px);

  &.capsule {
    border-radius: rem(40px);
  }
}

.full {
  width: 100%;
  height: $full-button-height;
  padding: rem(15px) rem(20px);
  font-weight: $font-weight-bold;
  &.rect {
    border: none;
  }
  &.capsule {
    border-radius: rem(40px);
  }
}
