.favBtn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  z-index: 1;

  img {
    height: 100%;
  }
}

.ownBtn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  z-index: 1;

  img {
    height: 100%;
  }
}

.freeBtn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  z-index: 1;

  img {
    height: 100%;
  }
}

.paidBtn {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px;
  z-index: 1;

  img {
    height: 100%;
  }
}