.colorOption {
    display: flex;
    overflow-x: hidden;
    width: 10%;
    position: absolute;
    top: -5px;
    left: 50%;
    background: black;
    border-radius: 15px;
    padding: 2px 0px;
    z-index: 1;
    transition: left 0.5s ease, width 0.5s ease;


    &.expanded {
        width: 95%;
        left: 3%;
    }
}

.colorBtnList {
    overflow-x: scroll;
    display: flex;
    -webkit-mask-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 3%, black 15%);
    mask-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 3%, black 15%);
    // -webkit-mask-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.2) 10%, black 90%);
    // -webkit-mask-image: linear-gradient(to left, transparent, black);
    // mask-image: linear-gradient(to left, transparent, black);

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.colorBtn {
    margin: 5px;
}

.colorSaveBtn {}


.containerPlacemode {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.canvasContainer {
    flex-grow: 1;
    min-height: 50%;
}

.contentSearch {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    opacity: 0;

    &.expanded {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

.contentCategory {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    top: -25px;
    overflow-x: auto;
    width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.contentSort {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -15px;
    margin: 5px;
}

.contentItem {
    position: relative;
    top: -15px;
    height: calc(100% - 100px);
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    // @media (max-width: 600px) {
    //     justify-content: center;
    //     padding: 0 10px;
    // }
}

.canvasElement {
    position: relative;
    height: 100%;
    width: 100%;
}