.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(107, 50, 150);
}

.spinner-container {
    position: relative;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-main {
    display: inline-block;
    height: 60px;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #F8F8F8;
    background-image: linear-gradient(to bottom right, #9E7CC1, #7238B6);
    border: 2px solid #7238B6;
    color: white;
    text-align: center;
    text-decoration: none;
    /* Initially set opacity to 0 */
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.btn-main:hover {
    background-image: linear-gradient(to bottom right, #7238B6, #9E7CC1);
    cursor: pointer;
}

.button:active {
    background-color: #2d0f50;
    border-color: #100b14;
}

.todo-list {
    padding: 10px;
    list-style-type: none;
}

.todo-list li {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.todo-list li input[type="checkbox"]:disabled {
    // opacity: 0.5;
    /* Adjust the opacity to change the disabled color */
    cursor: not-allowed;
    /* Optional: Change the cursor to indicate it's disabled */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}